<h1>Settings</h1>
<% if flash[:error] %>
<div class="errors">

<% flash[:error].each do |msg| %>
    <li style= "list-style: none;" ><%= msg %></li>
    <% end %>
    </div>
    <% end %>
    <div class = "form">
    <br>
<%= form_for @student do |x| %>
    <%= x.label "Name:" %>
    <%= x.text_field :name %>
    <%= x.label "Age:" %>
    <%= x.number_field :age %>
    <%= x.label "Email:" %>
    <%= x.email_field :email %>
    <%= x.label "Grade:" %>
    <%= x.select :year, $years %>
    <%= x.label "Major:" %>
    <%= x.select :major, $majors %>
    <%= x.submit "Update Student", :class => "button" %>
    <% end %>
    </div>
    <div class = "form">
    <%= form_for(@student, :method => :delete) do |f| %>
        <%= f.submit "Delete account", :class => "button", data: { confirm: "Are you sure you want to delete your account?" } %>
        <% end %>
        </div>