 <% if current_user.admin == false %>
   <h1>You don't have access to this page.</h1>
    <% else %>
<h1>Create course</h1>
<div class "errors">
<% if flash[:error] %>
    <% flash[:error].each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <% end %>
    </div>
    <div class ="form">
<%= form_for @course do |f| %>
    <%= f.label "Code:" %>
    <%= f.text_field :code %>
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
    <%= f.label "Teacher:" %>
    <%= f.text_field :teacher %>
    <%= f.label "Department:" %>
    <%= f.text_field :department %>
    <%= f.submit "Create course", :class => "button" %>
    <% end %>
    </div>

<h1>Edit course</h1>
<%= form_tag("/courses/edit", method: :get) do %>
   <%= collection_select(:course, :id , Course.all, :id, :code, {}, {class: 'dropdown'})  %>
   <%= submit_tag "Edit course", :class => "button" %>
    <% end %>

<h1>Remove existing courses</h1>
<%= form_for @course, :method => :delete do |f| %>
   <%= f.collection_select(:id , @courses , :id, :code, {}, {class: 'dropdown'})  %>
   <%= f.submit "Delete Courses", :class => "button" %>
    <% end %>
    <% end %>