<h1><%= @course.code %> <%= @course.name %></h1>
<h3>Teacher: <%= @course.teacher %>
<h3>Department: <%= @course.department %>
<br>
<br>
<%= form_tag "/courses/#{@course.id}/posts/new", method: :get %>
<%= submit_tag "New Post"%>
<br>
<h3>All posts:</h3>
<ul>
<% @course.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
    </ul>
