<h1><%= @post.title %></h1>
<% if flash[:error] %>
    <% flash[:error].each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <% end %>
<% if @post.student != nil %>
Author: <%= @post.student.name %><br>
<% else %>
Author: This user no longer exists. <br>
<% end %>
Created at: <%= @post.created_at %><br>
Content: <%= form_for(@post) do |x|%>
    <%= x.text_area :content, :value => @post.content %>
    <%= x.submit "Submit" %>
    <% end %>
    <br>

<% if @post.student == current_user %>
<%= form_tag "/posts/#{@post.id}/edit", method: :patch do %>
  <%= submit_tag "Edit Post"%>
  <% end %>
<% end %>




<h3>Replies</h3>
<ul>
<% @post.responses.each do |res| %>
  <li>  <%= res.student.name %>:
    <%= res.content %> </li>
    <% end %>
    <br>
    <ul>
    <%= form_for @response do |f| %>
        <%= f.hidden_field :post_id, :value => params[:id] %>
        <%= f.hidden_field :student_id, :value => @post.student_id %>
        <%= f.text_area :content %>
        <%= f.submit "Reply" %>
        <% end %>
    