<%= form_tag "/courses/#{@post.course_id}", method: :get do %>
<%= submit_tag "Back to #{@post.course.code}", class: "button" %>
<% end %>
<% if @post.student == current_user %>
<%= form_tag "/posts/#{@post.id}/edit", method: :get do %>
  <%= submit_tag "Edit Post", class: "button" %>
  <% end %>
<% end %>
<% if current_user.admin == true %>
<div class = "form">
<%= form_for(@post, :method => :delete) do |x| %>
  <%= x.submit "Delete", :class => "button" %>
  <% end %></div>
  <% end %>
<br>
<h1><%= @post.title %></h1>

<% if @post.student != nil %>
<p><b>Author</b>: <%= @post.student.name %><p>
<% else %>
<p><b>Author</b>: This user no longer exists.</p>
<% end %>
<p><b>Created at</b>: <%= @post.created_at %></p>
<p><b>Content</b>:<br> <%= @post.content %></p><br>
<h3><b>Replies</b></h3>


<div class="errors">
    <% if flash[:error] %>
    <% flash[:error].each do |msg| %>
    <%= msg %>
    <% end %>
    <% end %>
    </div>
    


<ul>
<% if @post.responses != nil %>
  <% @post.responses.each do |res| %>
    
    <% if res.student != nil %>
    <li><%= res.student.name %>:
    <% else %>
    <li>Deleted User:
    <% end %>
    <br>
    <% if params[:id2].to_i == res.id %>
        
        <%= form_tag("/posts/#{@post.id}/edit2/#{res.id}", method: :patch) do %>
        <%= hidden_field_tag :student_id, :value => current_user.id %>
        <%= text_area_tag :content, res.content %>
        <%= submit_tag "Submit", class:"sub-button" %>
        
        <% end %>

    <% else %>

    <%= res.content %> </li>
    <% if res.student == current_user %>
    <%= form_tag "/posts/#{@post.id}/edit", method: :get do %>
    <%= submit_tag "Edit Reply", class: "sub-button" %>
    <% end %>
    <% end %>
<br>
    <% end %>
  <%# if current_user.admin == true %>
    <%#= form_for(res, :method => :delete) do |x| %>
    <%#= x.submit "Delete", :class => "inner"%>
    <%# end %>
    <%# end %>
    <% end %>
    </ul>
    <br>
    
        

  <% end %>
    