  <div class="form", style="display:inline-block">
<%= form_tag "/courses/#{@post.course_id}", method: :get do %>
<%= submit_tag "Back to #{@post.course.code}", class: "button" %>
<% end %>
</div>
<% if @post.student == current_user %>
<div class="form", style="display:inline-block">
<%= form_tag "/posts/#{@post.id}/edit", method: :get do %>
  <%= submit_tag "Edit Post", class: "button" %>
  <% end %>
  </div>
<% end %>
<% if current_user.admin == true %>
  <div class="form", style="display:inline-block">
<%= form_for(@post, :method => :delete) do |x| %>
  <div><%= x.submit "Delete", :class => "button" %></div>
  <% end %>
  </div>
  <% end %>
<br>

<h1><%= @post.title %></h1>


<% if @post.student != nil %>
<p><b>Author</b>: <%= @post.student.name %><p>
<% else %>
<p><b>Author</b>: This user no longer exists.</p>
<% end %>
<p><b>Created at</b>: <%= @post.created_at %></p>
<p><b>Content</b>:<br> <%= @post.content %></p><br>

<h3><b>Replies</b></h3>
<ul>
<% if @post.responses != nil %>
  <% @post.responses.each do |res| %>
    <% if res.student != nil %>
    <li><%= res.student.name %>:
    <% else %>
    <li>Deleted User:
    <% end %>
    <br>
    <%= res.content %> </li>
    <br>
    <% if res.student == current_user %>
    <%= form_tag "/posts/#{@post.id}/edit2/#{res.id}", method: :get do %>
  <%= submit_tag "Edit Reply", class: "sub-button" %>
  <% end %>
<% end %>
  

    <% if current_user.admin == true %>
      <%= form_for(res, :method => :delete) do |x| %>
      <%= x.submit "Delete", :class => "sub-button"%>
    <% end %>
  <% end %>
  <% end %>
  </ul>


    <br>
    <ul>
    <% if flash[:error] %>
    <% flash[:error].each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <% end %>
    </ul>
    

    
 <h3>New reply:<h3>
    <%= form_for @response do |f| %>
        <%= f.hidden_field :post_id, :value => params[:id] %>
        <%= f.hidden_field :student_id, :value => current_user.id %>
        <%= f.text_area :content %>
        <%= f.submit "Reply", class:"button" %>
        <% end %>
  <% end %>
    