<!DOCTYPE html>
<html>
<head>
    <title>MoodleLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

<% if logged_in? && current_user.banned %>
    <h1>You are banned</h1>


<% else %>

  <% if logged_in? %>
    <div class = "nav">
  
    <div class ="inner">
      <%= form_tag "/students/#{current_user.id}", method: :GET do %>
      <%= submit_tag "Home", class: "inner"%>
      <% end %>
    </div>
    <div class ="inner">
      <%= form_tag "/students/#{current_user.id}/edit", method: :GET do %>
      <%= submit_tag "Settings", class: "inner" %>
      <% end %>
    </div>
    <div class ="inner">
      <%= form_tag "/logout", method: :delete do %>
      <%= submit_tag "Logout", class: "inner"%>
      <% end %>
    </div>

    <% if current_user.admin == true %>
      <div class ="inner">
        <%= form_tag "/students", method: :get do %>
        <%= submit_tag "See all students", class: "inner"%>
        <% end %>
        </div>
        
      <div class ="inner">
        <%= form_tag "/courses/new", method: :get do %>
        <%= submit_tag "Edit courses", class: "inner" %>
        <% end %>
        </div>
    
<% end %>
</div>
<% end %>


   <%= yield %>
  <% end %>
 
  </body>




  

  
</html>
